{% extends 'base.html' %}
{% load static %}
{% block title %}Django Delights{% endblock %}
{% block content %}
<div class="d-grid gap-2 col-md-4 mx-auto">

  <h1>EDITAR RECETA DE {{ menu_item.title }}</h1>

  <form method="post">
    {% csrf_token %}
    <button class="btn btn-success" type="submit">ACTUALIZAR</button>
    {{ form.management_form }}
    <table class="table table-bordered mt-3">
      <thead class="heading">
        <tr>
          <th>Ingredient</th>
          <th>Quantity</th>
          <th>Unit</th>
          <th>Unit Price</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        {% for item in form %}
          {{ item.id }}
            <tr>
              <td>{{ item.instance.ingredient.name }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.instance.ingredient.unit }}</td>
              <td>£ {{ item.instance.ingredient.unit_price }}</td>
              <td>{{ item.DELETE }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    
  </form>
</div>
    
<div class="d-grid gap-2 col-md-4 mx-auto">
  <a class="btn btn-outline-success" href="{% url 'create_recipe' menu_item.title %}">AGREGAR INGREDIENTE</a>
  <a class="btn btn-primary" href="{% url 'menu' %}">AL MENU</a>
  <a class="btn btn-secondary" href="{% url 'details' menu_item.title %}">REGRESAR</a>
  <section>
    <h2 class="detail">Description</h2>
    <article><a href="{% url 'update_description' menu_item.title %}">{{ menu_item.description }}</a></article>
  </section>
</div>
  

{% endblock %}
