{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
  <div class="container">

   
    <div class="button-posn">
      {% if user.is_staff %}
      
        
        <div class="d-grid gap-2 col-6 mx-auto text-center p-5">
          {% if user.username %}
          <h2 class="text-center">WELCOME  {{ user.username|upper }}</h2>
        {% endif %}
                   <a href="{% url 'menu' %}" class="btn btn-outline-primary" style="
                   --bs-btn-padding-y: 1.5rem; 
                   --bs-btn-padding-x: 3.5rem; 
                   --bs-btn-font-size: 2rem;">MENU MANAGEMENT</a>
                  <a href="{% url 'stock' %}" class="btn btn-outline-primary" style="
                  --bs-btn-padding-y: 1.5rem; 
                  --bs-btn-padding-x: 3.5rem; 
                  --bs-btn-font-size: 2rem;">STOCK MANAGEMENT</a>
                  <a href="{% url 'sales_profit' %}" class="btn btn-outline-primary" style="
                  --bs-btn-padding-y: 1.5rem; 
                  --bs-btn-padding-x: 3.5rem; 
                  --bs-btn-font-size: 2rem;">REPORTE DE VENTAS</a>
                  <a href="{% url 'sales_profit' %}" class="btn btn-outline-primary" style="
                  --bs-btn-padding-y: 1.5rem; 
                  --bs-btn-padding-x: 3.5rem; 
                  --bs-btn-font-size: 2rem;">VENTAS</a>
        </div>
      {% else %}
      <div class="d-grid gap-2 col-md-4 mx-auto">
        <h2 class="text-center mt-3">WELCOME  {{ user.username|upper }}</h2>
        
        <a class="btn btn-outline-primary" href="{% url 'menu' %}"><h1>MENU</h1></a>
        <a class="btn btn-outline-primary" href="{% url 'table_order' %}"><h1>PEDIDOS</h1></a>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
