{% extends 'base.html' %}
{% load static %}
{% block title %}Django Delights{% endblock %}
{% block content %}
<div class="d-grid gap-2 col-md-4 mx-auto">
  <h2 class="mt-3">TABLA DE INGREDIENTES</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Item</th>
        <th>Categoria</th>
        <th>Proveedor</th>
        <th>Cantidad</th>
        <th>Unidad</th>
        <th>Fecha de Vencimento</th>
      </tr>
    </thead>
    <tbody>
      {% for item in object_list %}
          <tr>
            <td>
              <a href="{% url 'update_ingredients' item.name %}">{{ item.name }}<a>
            </td>
            <td>{{ item.category }}</td>
            <td>{{item.provider}}</td>
            <td><a>{{ item.quantity }}</a></td>
            <td>
              {{ item.unit}}
            </td>
            <td>{{ item.due_date }} </td>
            <td>
              <a class="btn btn-danger " href="{% url 'delete_ingredients' item.name %}">ELIMINAR</a>
            </td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="btn btn-success" href="{% url 'create_ingredients' %}">AGREGAR</a>
  <a class="btn btn-secondary" href="{% url 'stock' %}">VOLVER AL STOCK</a>
</div>
{% endblock %}
