{% extends 'base.html' %}
{% load static %}
{% block title %}Bella's Restaurant{% endblock %}
{% block content %}
<div class="container text-center">
  <h1>Menu</h1>

  {% if user.is_staff %}
    <div class="add">
      <a class="addbutton" href="{% url 'menu_edit' %}">EDIT</a>
    </div>
  {% else%}
    <h2 class="text-start">ENTRADAS</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Menu</th>
          {% if user.is_staff%}
          <th scope="col">Ganancia</th>
          {% endif %}
          <th scope="col">Precio</th>
          <th scope="col">Stock</th>
        </tr>
      </thead>
      <tbody>
        {% for item in object_list%}
        {% if item.category.id == 1%}
        <tr>
          <th scope="row">{{item.id}}</th>
          {% if user.is_staff%}
          <td><a href="{% url 'details' item.title %}">{{item.title}}</a></td>
          {% else %}
          <td><a>{{item.title}}</a></td>
          {% endif %}
          {% if user.is_staff%}
          <td>{{item.dish_profit}}</td>
          {% endif %}
          <td>{{item.price}}</td>
          <td>{{item.available}}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
    <h2 class="text-start">PRINCIPAL</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Menu</th>
          {% if user.is_staff%}
          <th scope="col">Ganancia</th>
          {% endif %}
          <th scope="col">Precio</th>
          <th scope="col">Stock</th>
        </tr>
      </thead>
      <tbody>
        {% for item in object_list%}
        {% if item.category.id == 2%}
        <tr>
          <th scope="row">{{item.id}}</th>
          {% if user.is_staff%}
          <td><a href="{% url 'details' item.title %}">{{item.title}}</a></td>
          {% else %}
          <td><a>{{item.title}}</a></td>
          {% endif %}
          {% if user.is_staff%}
          <td>{{item.dish_profit}}</td>
          {% endif %}
          <td>{{item.price}}</td>
          <td>{{item.available}}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
    <h2 class="text-start">POSTRES</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Menu</th>
          {% if user.is_staff%}
          <th scope="col">Ganancia</th>
          {% endif %}
          <th scope="col">Precio</th>
          <th scope="col">Stock</th>
        </tr>
      </thead>
      <tbody>
        {% for item in object_list%}
        {% if item.category.id == 3%}
        <tr>
          <th scope="row">{{item.id}}</th>
          {% if user.is_staff%}
          <td><a href="{% url 'details' item.title %}">{{item.title}}</a></td>
          {% else %}
          <td><a>{{item.title}}</a></td>
          {% endif %}
          {% if user.is_staff%}
          <td>{{item.dish_profit}}</td>
          {% endif %}
          <td>{{item.price}}</td>
          <td>{{item.available}}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
    <h2 class="text-start">BEBIDAS</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Menu</th>
          <th scope="col">Ganancia</th>
          <th scope="col">Precio</th>
          <th scope="col">Stock</th>
        </tr>
      </thead>
      <tbody>
        {% for item in object_list%}
        {% if item.category.id == 4%}
        <tr>
          <th scope="row">{{item.id}}</th>
          {% if user.is_staff%}
          <td><a href="{% url 'details' item.title %}">{{item.title}}</a></td>
          {% else %}
          <td><a>{{item.title}}</a></td>
          {% endif %}
          {% if user.is_staff%}
          <td>{{item.dish_profit}}</td>
          {% endif %}
          <td>{{item.price}}</td>
          <td>{{item.available}}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    <a class="btn btn-dark" href="{% url 'home' %}">ATRAS</a>
</div>
 
{% endblock %}
