{% extends 'base.html' %}
{% load static %}
{% block title %}Django Delights{% endblock %}

{% block content %}
  <div class="d-grid gap-2 col-md-4 mx-auto mt-3">
    <h1>PLATOS DISPONIBLES</h1>
  
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Plato</th>
        <th>Disponible</th>
      </tr>
    </thead>
    <tbody>
      {% for item in object_list %}
        <tr>
          <td>{{ item.title }}</td>
          <td>{{ item.available }}</td>
      {% endfor %}
    </tbody>
  </table>
  <a class="btn btn-success" href="{% url 'menu_edit' %}">EDITAR MENU</a>
  <a class="btn btn-secondary" href="{% url 'stock' %}">REGRESAR</a>
  </div>
{% endblock %}
