{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="d-grid gap-2 col-md-4 mx-auto">
    <h1>Menu Items</h1>

  <form method="post">
    {% csrf_token %}
  

    {{ form.management_form }}
    <table class="table table">
      {% for item in form|dictsort:'instance.category.id' %}
        {{ item.id }}
        {% ifchanged %}
          <thead class="heading">
            <tr>
              <th><h2>{{ item.instance.category.category }}</h2></th>
              <th>{% if forloop.counter == 1 %}Profit{% endif %}</th>
              <th>{% if forloop.counter == 1 %}Price{% endif %}</th>
              <th>{% if forloop.counter == 1 %}Stock{% endif %}</th>
              <th>{% if forloop.counter == 1 %}Reorder{% endif %}</th>
              <th>{% if forloop.counter == 1 %}Display{% endif %}</th>
            </tr>
          </thead>
        {% endifchanged %}
        {% ifchanged %}<tbody>{% endifchanged %}
          <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.instance.dish_profit }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.instance.available }}</td>
            <td>{{ item.stock_item }}</td>
            <td>{{ item.display }}</td>
            
          </tr>
        {% ifchanged %}</tbody>{% endifchanged %}
      {% endfor %}
    </table>
    <input class="btn btn-success mt-3" type="submit" value="ACTUALIZAR">
    <a class="btn btn-secondary mt-3" href="{% url 'create_menu' %}">AGREGAR MENU ITEM</a>
    <a class="btn btn-outline-secondary mt-3" href="{% url 'menu' %}">ATRAS</a>
  </form>
  </div>
  
{% endblock %}
